<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".MovieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash">
        <activity
            android:name=".ui.youtube.YouTubePlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.speciallist.SpecialListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menu.aboutdeveloper.AboutDeveloperActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customLists.details.CustomListsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.filter.FiltersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.moviedetails.MovieDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Style push notification -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_negativa" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary_purple" />

        <service
            android:name=".data.webclient.service.firebase.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service> <!-- Broadcasts -->
        <receiver android:name=".utils.broadcasts.MovieReleaseBroadcastReceiver" />
    </application>

</manifest>